/* tablaEstilos.css */
.ht-theme-main-dark-auto {
    z-index: 1;  /* Aseguramos que la tabla tiene un z-index más bajo */
    position: relative;  /* Esto es necesario para que el z-index se aplique */
    border: 1px solid #ccc; /* Agregamos bordes a la tabla */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
    background-color: #f4f4f4; /* Fondo gris claro */
  }
  
  .ht_clone_top {
    background-color: #f0f0f0; /* Fondo de la cabecera */
  }